$body-color: #005aa0;
$body-bg: #ffffff;

/*================*/
/*-- scss:rules --*/
/*================*/

.backgrounds {
    
    /*-- orange square --*/
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 3vw;
        height: 3vw;
        background-color: #f0781e;
        z-index: 11; // layer
    }
    
    /*-- custom title layout --*/
    .quarto-title-block {
        @include backgroundimage('logo_dresden-concept_1080p.svg');
    }
    /*
    .quarto-title-block {
        @include backgroundimage(
            'logo_dresden-concept.svg', 
            calc(100% - $rightpadding) calc(100% - 3.0 * $footerpadding - $footerheight), 12vw 
        );
    }
    */

}

